/* nach codecoda: grid vs flexbox */

.grid{
    width: 512px;
    height: 512px;
    background-color: beige;
    display:grid;
    grid-template: repeat(16,1fr) / repeat(16,1fr); 
    grid-gap: 0px;
}

.grid > div {
    background-color: green;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    aspect-ratio: 1;
}
